* {
  margin: 0;
  padding: 0; }

h1 {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400;
  font-size: 32px; }

h2 {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400; }

h3 {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center; }

.boton, .main-index .seccion1_index .grilla_s1i .grilla_art1 .botonIndex {
  color: #FFF;
  border: 2px solid #1479b2;
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #ffffff;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s; }

.titulo, .seccion2_index .container1 .titulo2 {
  color: #ffffff;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: 400; }

.titleForm, .main-contacto .form_contacto .form_contenedor .form_h1, .main-registro .form_registro .form_contenedor .form_h1 {
  text-align: center;
  font-size: 25px;
  margin-bottom: auto;
  color: #1479b2;
  margin-top: 10px; }

.formulario, .main-contacto .form_contacto, .main-registro .form_registro {
  width: 450px;
  height: 400px;
  margin: auto;
  padding: 20px 35px;
  background: #f2f2f2;
  box-shadow: 10px 13px 27px #97adbd; }

.formulario_contenedor, .main-contacto .form_contacto .form_contenedor, .main-registro .form_registro .form_contenedor {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%; }

.entradas, .main-contacto .form_contacto .form_contenedor .control, .main-registro .form_registro .form_contenedor .control {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 5px;
  font-family: inherit;
  font-size: 1rem;
  padding: .7em 1em;
  outline: none;
  border: none;
  border: 1px solid #1479b2;
  border-radius: 5px; }

.mensaje, .main-contacto .form_contacto .form_contenedor .texto {
  width: 380px;
  height: 100px;
  font-family: inherit;
  font-size: 1rem;
  padding: .7em 1em;
  outline: none;
  border: none;
  border: 1px solid #1479b2;
  border-radius: 5px; }

.botonFormulario, .main-contacto .form_contacto .form_contenedor .botonContacto, .main-registro .form_registro .form_contenedor .botonRegistro {
  font-family: inherit;
  font-size: 1rem;
  background-color: #1479b2;
  color: #FFF;
  border: none;
  font-weight: 300;
  padding: .7em 0;
  border-radius: .2em;
  cursor: pointer;
  font-weight: 400; }

.paddingMio {
  padding-top: 380px; }

.header__nav nav div a .logo {
  width: 250px; }

.header__nav nav div div ul li a:hover {
  background-color: #1479b2;
  border-radius: 10%;
  color: #ffffff; }

.main-index .seccion1_index {
  background-color: #d9d9d9;
  padding: 10px; }
  .main-index .seccion1_index .grilla_s1i {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 1px 1px;
    grid-template-areas: "grilla_art1 grilla_art2";
    align-items: center;
    justify-items: center; }
    .main-index .seccion1_index .grilla_s1i .grilla_art1 {
      display: flex;
      flex-direction: column;
      align-items: center;
      grid-area: grilla_art1; }
      .main-index .seccion1_index .grilla_s1i .grilla_art1 .botonIndex a {
        text-decoration: none;
        color: #1479b2; }
        .main-index .seccion1_index .grilla_s1i .grilla_art1 .botonIndex a:hover {
          color: #FFF;
          transition: all .3s; }
      .main-index .seccion1_index .grilla_s1i .grilla_art1 .botonIndex:hover {
        box-shadow: inset 400px 50px 0 0 #1479b2;
        color: #ffffff; }

.main-index .grilla_art2 {
  grid-area: grilla_art2; }
  .main-index .grilla_art2 img {
    width: 600px;
    border-radius: 3%;
    margin: 20px; }
  .main-index .grilla_art2 h3 {
    text-align: center;
    color: #1479b2; }

.seccion2_index {
  background-color: #1479b2;
  padding: 10px; }
  .seccion2_index .container1 {
    display: flex;
    flex-direction: column;
    align-items: center; }
    .seccion2_index .container1 p {
      color: #ffffff;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: center;
      max-width: 70%;
      font-size: 20px; }
  .seccion2_index article {
    margin: 10px;
    padding: 10px; }
  .seccion2_index .ar1 {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .seccion2_index .ar1 h3 {
      color: black; }
    .seccion2_index .ar1 img {
      width: 600px; }
    .seccion2_index .ar1 .p2 {
      font-size: 18px;
      width: 400px;
      text-align: right; }
  .seccion2_index .ar2 {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .seccion2_index .ar2 .p3 {
      font-size: 18px;
      width: 400px; }
    .seccion2_index .ar2 h3 {
      color: black; }
    .seccion2_index .ar2 img {
      height: 600px; }

.main-trabajos .seccion1_trabajos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff; }
  .main-trabajos .seccion1_trabajos h1 {
    color: black;
    text-align: center;
    text-transform: capitalize;
    padding: 10px; }
  .main-trabajos .seccion1_trabajos p {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 18px;
    width: 700px;
    text-align: center;
    padding: 10px; }

.main-trabajos .seccion2_trabajos {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #d9d9d9; }
  .main-trabajos .seccion2_trabajos h2 {
    color: #1479b2;
    text-align: center;
    padding: 10px; }
  .main-trabajos .seccion2_trabajos .grid_s2t {
    display: grid;
    height: 550px;
    grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img5";
    gap: 10px; }
    .main-trabajos .seccion2_trabajos .grid_s2t .art_img {
      position: relative;
      width: 100%;
      height: 100%;
      overflow: hidden; }
      .main-trabajos .seccion2_trabajos .grid_s2t .art_img .img_s2t {
        width: 100%;
        height: 100%;
        object-fit: cover;
        cursor: pointer; }
    .main-trabajos .seccion2_trabajos .grid_s2t .art_img:nth-of-type(1) {
      grid-area: img1; }
    .main-trabajos .seccion2_trabajos .grid_s2t .art_img:nth-of-type(2) {
      grid-area: img2; }
    .main-trabajos .seccion2_trabajos .grid_s2t .art_img:nth-of-type(3) {
      grid-area: img3; }
    .main-trabajos .seccion2_trabajos .grid_s2t .art_img:nth-of-type(4) {
      grid-area: img4; }
    .main-trabajos .seccion2_trabajos .grid_s2t .art_img:nth-of-type(5) {
      grid-area: img5; }
  .main-trabajos .seccion2_trabajos .hover1 {
    position: absolute;
    background: #2c4a648c;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: #FFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateX(100%);
    cursor: pointer;
    transition: transform .3s ease-in-out; }
  .main-trabajos .seccion2_trabajos .art_img:hover .hover1 {
    transform: translate(0%); }
  .main-trabajos .seccion2_trabajos .p1 {
    max-width: 80%;
    color: #1479b2;
    font-size: 18px;
    margin: 10px;
    padding: 20px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

/* contacto.html */
.main-contacto .form_contacto .form_contenedor .botonContacto:hover {
  background: cadetblue; }

.main-contacto .contactoDireccion .direccion {
  margin: 100px;
  display: grid;
  grid-auto-columns: 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1px 1px;
  grid-template-areas: "donde iframe";
  justify-items: center;
  align-items: center; }
  .main-contacto .contactoDireccion .direccion .donde {
    grid-area: donde; }
  .main-contacto .contactoDireccion .direccion .iframe {
    grid-area: iframe; }
  .main-contacto .contactoDireccion .direccion .mapas {
    width: 350px;
    height: 350px; }

.main-registro .form_registro .pRegistro {
  text-align: center; }

.footer ul {
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center; }

.footer li {
  list-style: none; }
  .footer li a img {
    width: 40px; }
  .footer li:hover {
    background-color: #97adbd;
    transition: all .3s;
    border-radius: 50%; }

.footer p {
  text-align: center;
  margin: 0; }
