/* contacto.html */
//<---- seccion fomulario de contacto----->
.main-contacto {
    .form_contacto {
        @extend .formulario;

        .form_contenedor {
            @extend .formulario_contenedor;

            .form_h1 {
                @extend .titleForm;
            }

            .control {
                @extend .entradas;
            }

            .texto {
                @extend .mensaje;
            }

            .botonContacto {
                @extend .botonFormulario;
                &:hover {
                    background: cadetblue;
                }
            }
        }
    }

    //<---- seccion dereccion de contacto----->
    .contactoDireccion {
        .direccion {
            margin: 100px;
            display: grid;
            grid-auto-columns: 1fr;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            gap: 1px 1px;
            grid-template-areas:
                "donde iframe";
            justify-items: center;
            align-items: center;

            .donde {
                grid-area: donde;
            }

            .iframe {
                grid-area: iframe;
            }

            .mapas {
                width: 350px;
                height: 350px;
            }
        }
    }
}