.header__nav{
    nav{
        div{
            a{
                .logo{
                    width: 250px;
                }
            }
            div{
                ul{
                    li{
                        a:hover{
                            background-color:$azul;
                            border-radius: 10%;
                            color:$blanco;
                        }
                    }
                }
            }
        }
    }

}
