.main-login {
    .form_login {
        animation-name: aparecer;
        animation-duration: 2s;
        @extend .formulario;

        .form_contenedor {
            @extend .formulario_contenedor;

            .form_h1 {
                @extend .titleForm;
            }

            .control {
                @extend .entradas;

                &:focus {
                    @extend .focusForm;
                }
            }

            .botonLogin {
                @extend .botonFormulario;

                &:hover {
                    background: cadetblue;
                }
            }
        }

        .aLogin {
            text-align: center;

        }
    }
}

@media(max-width:600px) {
    .main-login {
        margin-top: 70px;

        .form_login {
            width: 350px;
            height: auto;
        }

        .form_contenedor {
            .texto {
                width: 280px;
            }
        }
    }
}