.main-registro {
    .form_registro {
        animation-name: aparecer;
        animation-duration: 2s;
        @extend .formulario;

        .form_contenedor {
            @extend .formulario_contenedor;
            .form_h1{
                @extend .titleForm;
            }
            .control{
                @extend .entradas;
                &:focus{
                    @extend .focusForm;
                }
            }

            .botonRegistro {
                @extend .botonFormulario;
                &:hover {
                    background: cadetblue;
                }
            }
        }
        .pRegistro{
            text-align: center;

        }
    }
}

@media(max-width:600px){
    .main-registro{
        margin-top: 70px;
        .form_registro{
            width: 350px;
            height: auto;
        }
        .form_contenedor {
            .texto {
                width: 280px; 
            }
        }
    }
    .paddingMio{
        padding-top: 200px;
    }
}