.main-registro {
    .form_registro {
        animation-name: aparecer;
        animation-duration: 2s;
        @extend .formulario;

        .form_contenedor {
            @extend .formulario_contenedor;
            .form_h1{
                @extend .titleForm;
            }
            .control{
                @extend .entradas;
                &:focus{
                    @extend .focusForm;
                }
            }

            .botonRegistro {
                @extend .botonFormulario;
                &:hover {
                    background: cadetblue;
                }
            }
        }
        .pRegistro{
            text-align: center;

        }
    }
}

